<!-- Store name heading -->

<!-- List of all brands carried at that store -->

<!-- Add Brand to Store List Form -->

<!-- Update Store Name Form: btn-warning -->

<!-- Delete Store Button: btn-danger -->
